body {
  background-color: white;
}
.container {
  padding: 50px 20px;
  height: 100vh;
}

.table-head {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  color: white;
  background: #0b2d0e;
  background-repeat: no-repeat;
  padding: 10px;
  padding-right: 20px;
}

.btn-secondary {
  background-color: white;
  color: black;
}
.btn-secondary:hover {
  transition: background-color 0.5s ease-out;
  color: white;
  border: 1px solid white;
}
.table-head h2 {
  font-size: 25px;
}
.table {
  box-shadow: 0 14px 28px rgba(126, 161, 248, 0.25),
    0 10px 10px rgba(119, 135, 244, 0.25);
  color: black;
  background: white;
  background-repeat: no-repeat;
}
.delete-btn {
  color: black;
  font-size: 22px;
}

.edit-btn {
  color: white;
  font-size: 25px;
}
