@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

body {
  font-family: "Montserrat", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #0b0b2d;
}

footer p {
  font-size: 14px;
  color: white;
}
